// --------------------------------------------------------------------------------------
// Include any  style rules for your custom theming here
// --------------------------------------------------------------------------------------

// default page heading
.page-heading {
    font-size: 2.5em;
    font-weight: 300;
    text-transform: uppercase;
}

// why aren't my buttons and inputs bending the knee to my font?
input, button,
a {
    font-family: $font-family-base;
}

// I want round buttons
.btn {
    border-radius: 100px;
}