<form [formGroup]="form"
      #searchform>
  <label for="search-addon"
         class="sr-only">{{placeholderText || 'Search...'}}</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <button type="submit"
              class="btn btn-link"
              (click)="search()">
        <span class="sr-only">Button To Submit Search</span>
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
    <input type="search"
           class="form-control"
           placeholder="{{placeholderText || 'Search...'}}"
           aria-label="Product search"
           id="search-addon"
           formControlName="search"
           (keyup.enter)="search()">
    <div *ngIf="showClear()"
         class="input-group-append">
      <button (click)="clear()"
              class="btn btn-link icon-button--hover-reactive">
        <fa-icon class="text-danger"
                 [icon]="faTimes"></fa-icon>
      </button>
    </div>
  </div>
</form>