<nav class="navbar navbar-expand-lg navbar__megamenu navbar-light bg-dark"
     *ngIf="showHeader()">
  <a class="navbar-brand mr-auto"
     routerLink="/home"><img class="navbar-brand__img"
         src="assets/logo_bfz.svg"
         alt="{{appConfig.appname}} Logo"></a>
  <shared-search class="navbar__search"
                 placeholderText="Search Products..."
                 (searched)="searchProducts($event)"></shared-search>

  <div>
    <a class="nav-link text-nowrap text-secondary"
       routerLink="/cart"
       routerLinkActive="active"
       ngbPopover="Item(s) Added to Cart"
       placement="bottom"
       triggers="manual"
       #addtocartPopover="ngbPopover">
      <span class="d-none d-lg-inline"></span>
      <fa-layers class="fa-fw">
        <fa-icon [icon]="faShoppingCart"></fa-icon>
        <fa-layers-counter *ngIf="currentOrder && currentOrder.LineItemCount"
                           class="badge__counter--large"
                           [content]="currentOrder.LineItemCount"></fa-layers-counter>
      </fa-layers>
    </a>
  </div>
  <div ng-sidebar-content
       class="cursor-pointer">
    <button class="btn btn-link"
            type="button"
            (click)="toggleSidebar()"
            aria-label="Toggle navigation">
      <span class="sr-only">Button to Toggle Navigation Menu</span>
      <fa-icon class="text-secondary"
               [icon]="faBars"></fa-icon>
    </button>
  </div>

  <div ng-sidebar-content
       class="cursor-pointer">
    <button class="btn btn-link"
            type="button"
            (click)="toggleSidebar()"
            aria-label="Toggle navigation">
      <span class="sr-only">Button to Toggle Navigation Menu</span>
      <fa-icon class="text-secondary"
               [icon]="faCog"></fa-icon>
    </button>
  </div>
  <div ngbDropdown
       placement="bottom-right"
       class="d-inline-block position-static">
    <button class="btn btn-link"
            id="settings-menu"
            ngbDropdownToggle>
      <span class="sr-only">Button to Toggle Settings Menu</span>
      <fa-icon class="text-secondary"
               [icon]="faUserCircle"></fa-icon>
    </button>



    <!-- ADMIN SETTING > GET THIS INTO THE MEGAMENU -->
    <div ngbDropdownMenu
         aria-labelledby="settings-menu"
         class="megans-menu">

      <div class="settings-nav">
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-2"
               *ngIf="(anonymous$ | async)">
            <ul>
              <li class="nav-item">
                <a class="dropdown-item"
                   routerLink="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item d-none d-sm-block"
                   routerLink="/register">Register</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 "
               *ngIf="!(anonymous$ | async)">
            <ul class="navbar-nav text-right justify-content-end">
              <li class="nav-item">
                <a class="dropdown-item"
                   routerLinkActive="active"
                   routerLink="/profile/details">My Profile</a>
                <a class="dropdown-item"
                   routerLinkActive="active"
                   routerLink="/profile/orders">My Orders</a>
                <a class="dropdown-item"
                   routerLinkActive="active"
                   routerLink="/profile/addresses">Address Book</a>
                <a class="dropdown-item"
                   routerLinkActive="active"
                   routerLink="/profile/payment-methods">Payment Methods</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"
                   (click)="logout()"
                   href="/login">
                  <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <img class="img-fluid rounded-circle"
                 width="100"
                 src="https://res.cloudinary.com/esitarz451/image/upload/v1544048532/placeholder/placeholder__profile--512.jpg"
                 alt="profile picture">
            <h5 class="text-dark p-3">Hi, {{ (user$ | async)?.FirstName }}!</h5>
            <div class="form-group mb-0 mt-2 ml-4">
              <input type="checkbox"
                     id="cb4"
                     class="toggle toggle-flat">
              <label class="btn-toggle mb-0"
                     for="cb4"></label>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- ADMIN SETTING > GET THIS INTO THE MEGAMENU -->

  </div>
</nav>



<ng-sidebar-container [ngClass]="{'megamenu': isSideBarOpen}">
  <ng-sidebar [(opened)]="isSideBarOpen"
              position="top"
              closeOnClickOutside="true"
              sidebarClass="megamenu__dropdown-menu shadow"
              mode="over"
              class="w-100">
    <div class="row m-5">
      derp!
    </div>

  </ng-sidebar>
</ng-sidebar-container>

<ng-sidebar-container [ngClass]="{'megamenu': isSideBarOpen}">
  <ng-sidebar [(opened)]="isSideBarOpen"
              position="top"
              closeOnClickOutside="true"
              sidebarClass="megamenu__dropdown-menu shadow"
              mode="over"
              class="w-100">
    <div class="row m-5">
      <div class="col-md-4">
        <h2 class="text-secondary border-bottom border-secondary pb-3">Products</h2>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"
               href="#">Disabled</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2 class="text-secondary border-bottom border-secondary pb-3">Category</h2>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"
               href="#">Disabled</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2 class="text-secondary border-bottom border-secondary pb-3">Category</h2>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"
               href="#">Disabled</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>

  </ng-sidebar>
</ng-sidebar-container>

<!-- TOP NAV
<nav class="navbar navbar-expand navbar-light bg-white"
     *ngIf="showHeader()">
  <div class="container">

    <a class="navbar-brand"
       routerLink="/home">
      <span class="d-none d-md-inline">{{appConfig.appname}}</span>
      <span class="d-md-none">OCS</span>
    </a>

    <ul class="navbar-nav mr-auto">

      <li class="nav-item"
          routerLinkActive="active">
        <a class="nav-link"
           routerLink="/home">
          Home
        </a>
      </li>
      <li class="nav-item"
          routerLinkActive="active">
        <a class="nav-link"
           routerLink="/products">
          Shop
        </a>
      </li>
    </ul>
    <div class="form-inline"
         *ngIf="(anonymous$ | async)">
      <a class="btn btn-sm btn-outline-dark"
         routerLink="/login">Login</a>
      <a class="btn btn-sm btn-primary d-none d-sm-block ml-2"
         routerLink="/register">Register</a>
    </div>

    <ul class="navbar-nav"
        *ngIf="!(anonymous$ | async)">
      <li class="nav-item dropdown"
          ngbDropdown
          placement="bottom-right">
        <div class="nav-link dropdown-toggle text-nowrap"
             id="account-dropdown"
             routerLinkActive="active"
             ngbDropdownToggle>
          <fa-icon [icon]="faUserCircle"></fa-icon>
          <span class="d-none d-md-inline">
            Account
          </span>
        </div>
        <div class="dropdown-menu"
             aria-labelledby="account-dropdown"
             ngbDropdownMenu>
          <h6 class="dropdown-header">Hi, {{ (user$ | async)?.FirstName }}!</h6>
          <a class="dropdown-item"
             routerLinkActive="active"
             routerLink="/profile/details">My Profile</a>
          <a class="dropdown-item"
             routerLinkActive="active"
             routerLink="/profile/orders">My Orders</a>
          <a class="dropdown-item"
             routerLinkActive="active"
             routerLink="/profile/addresses">Address Book</a>
          <a class="dropdown-item"
             routerLinkActive="active"
             routerLink="/profile/payment-methods">Payment Methods</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
             (click)="logout()"
             href="/login">
            <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout
          </a>
        </div>
      </li>
    </ul>

  </div>
</nav>
<nav class="navbar navbar-expand navbar-light bg-light"
     *ngIf="showHeader()">
  <div class="container">
    <shared-search class="mr-3 w-100"
                   placeholderText="Search Products..."
                   (searched)="searchProducts($event)"></shared-search>
    <ul class="navbar-nav">
      
    </ul>
  </div>
</nav> -->