<footer class="py-5 mt-3 bg-dark">
  <div class="container">
    <div class="col-sm-12 d-flex flex-column align-items-center">
      <a routerLink="/terms-and-conditions"
         class="mr-1 text-muted">
        <fa-icon class="mr-1 d-md-none"
                 [icon]="faFileAlt"></fa-icon>
        <small>Terms & Conditions</small>
      </a>
      <a class="text-muted"
         routerLink="/support"
         routerLinkActive="active">
        <fa-icon class="mr-1"
                 [icon]="faPhone"></fa-icon>
        <small>Support</small>
      </a>
      <a class="text-muted"
         routerLink="/faq"
         routerLinkActive="active">
        <fa-icon class="mr-1 text-muted"
                 [icon]="faQuestionCircle"></fa-icon>
        <small>FAQ</small>
      </a>
      <small class="text-muted">Created by Four51, Inc.</small>
    </div>
  </div>
</footer>